@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');

/*
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 2em ),
		breakpoints: (
			large: (
				grid: ( gutters: 1.5em )
			),
			small: (
				grid: ( gutters: 1.25em )
			)
		)
	));

	@mixin inner {
		> .inner {
			@include padding(4em, 0);
			margin: 0 auto;
			max-width: _size(inner);
			width: calc(100% - 6em);

			@include breakpoint(small) {
				@include padding(3em, 0);
				width: calc(100% - 3em);
			}
		}
	}

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/table';
	@import 'components/button';
	@import 'components/tiles';
	@import 'components/contact-method';
	@import 'components/spotlights';

// Layout.

	@import 'layout/header';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/contact';
	@import 'layout/footer';
	@import 'layout/wrapper';
	@import 'layout/menu';


	.footer-badge {
		border-bottom: none;
		img {
			height: 2em;
		}
	}

.badges {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
  align-content: center;
	li {
		padding: 0 1em 0 0;
		a {
			display: inline-block;
		}
	}
}

.major > h1 a {
	padding-bottom: 0.3em;
  border-bottom: 2px solid #fff;
  margin-bottom: 0.5em;
}

.home-quote {
  font-weight: bold;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blinking-cursor {
  animation: blink 1.5s step-start 0s infinite;
  -webkit-animation: blink 1.5s step-start 0s infinite;
}

.image.center {
	display: block;
	margin-bottom: 2em;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	em {
		display: block;
		text-align: center;
	}
}

.background--white {
	background: #fff;
}

.image.left, .image.right {
	@include breakpoint(small) {
		max-width: 100%;
		margin: 1.25em 0;
		img {
			width: 100%;
		}
	}
}

.current-article {
	.inner {
		max-width: 40em;
	}
}
