<%
def escape_for_attribute(value)
  value.gsub("\"", "&quot;")
end
%>

<%
title = "#{escape_for_attribute(article.title)} by @olistik"
description = escape_for_attribute(article.data.summary)
%>

<title><%= title %></title>

<meta name="description" content="<%= description%>" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="<%= description %>">

<!-- Open Graph data -->
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= article.url %>" />
<% if article.data.image_preview %>
  <meta property="og:image" content="https://blog.olisti.co/images/<%= article.data.image_preview %>" />
<% end %>
<meta property="og:description" content="<%= description %>" />
