<header class="major">
  <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
  <p><%= article.date.strftime('%Y-%m-%d') %></p>
  <% if article.tags.any? %>
    <p>
      <% article.tags.each do |tag| %>
        <%= link_to "##{tag}", tag_path(tag) %>
      <% end %>
    </p>
  <% end %>
</header>
