<%
title = "@olistik's blog"
description = "OMG it's full of patterns."
%>
<title><%= title %></title>

<meta name="description" content="<%= description%>" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="<%= description %>">

<!-- Open Graph data -->
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://blog.olisti.co" />
<meta property="og:image" content="https://blog.olisti.co/images/branches.jpg" />
<meta property="og:description" content="<%= description %>" />
