<% if paginate && num_pages > 1 %>

  <ul class="pagination">
    <% if prev_page %>
      <li><a href="<%= prev_page.url %>" class="button small">Prev</a></li>
    <% else %>
      <li><span class="button small disabled">Prev</span></li>
    <% end %>

    <% (1..num_pages).each do |page_index| %>
      <% page_url = page_index == 1 ? "/" : "/page/#{page_index}"%>
      <% if page_index == page_number %>
        <li><a href="<%= page_url %>" class="page active"><%= page_index %></a></li>
      <% else %>
        <li><a href="<%= page_url %>" class="page"><%= page_index %></a></li>
      <% end %>
    <% end %>

    <% if next_page %>
      <li><a href="<%= next_page.url %>" class="button small">Next</a></li>
    <% else %>
      <li><span class="button small disabled">Next</span></li>
    <% end %>

  </ul>

<% end %>
