---
pageable: true
per_page: 5
---
<%= partial(:pagination, locals: {paginate: paginate, num_pages: num_pages, prev_age: prev_page, next_page: next_page}) %>

<hr class="major">

<% page_articles.each_with_index do |article, i| %>
  <% if i > 0 && i < page_articles.length %>
    <hr class="major" />
  <% end %>

  <%= partial(:article_head, locals: {article: article}) %>

  <p><%= article.summary(256) %></p>

  <ul class="actions">
		<li>
      <%= link_to "Read", article, class: "button next" %>
    </li>
	</ul>

<% end %>

<hr class="major">

<%= partial(:pagination, locals: {paginate: paginate, num_pages: num_pages, prev_age: prev_page, next_page: next_page}) %>

<hr class="major">

<div class="6u 12u$(small)">
  <h4>Categories</h4>
  <% blog.tags.each do |tag, articles| %>
    <%= link_to "##{tag} (#{articles.size})", tag_path(tag), class: "button small" %>
  <% end %>
</div>
