<!DOCTYPE HTML>
<!--
Forty by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <%= stylesheet_link_tag "main" %>

  <% if current_article %>
    <%= partial(:article_meta_tags, locals: {article: current_article}) %>
  <% else %>
    <%= partial(:homepage_meta_tags) %>
  <% end %>

  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body class="<%= "current-article" if current_article %>">

  <div id="wrapper">

    <header id="header">
      <a href="/" class="logo"><strong>Olistik</strong> <span>blog 📕</span></a>
    </header>

    <div id="main" class="alt">
      <section id="one">
        <div class="inner">

          <% if current_article %>
            <%= partial(:article_head, locals: {article: current_article}) %>
          <% else %>
            <em class="home-quote">
              OMG it's full of patterns.
            </em>
            <span class="blinking-cursor">┃</span>
            <hr class="major">
          <% end %>

          <%= yield %>
        </div>
      </section>
    </div>

    <footer id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>
            Made with ❤️ by <a href="https://olisti.co">@olistik</a>
          </li>
          <li>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
          </li>
          <li>
            Theme <a href="https://html5up.net/forty">FORTY</a>
            by <a href="https://html5up.net">HTML5 UP</a>
          </li>
        </ul>
        <ul class="badges">
          <li>
            <a href="https://www.netlify.com" class="footer-badge" title="Deploys by Netlify" target="_BLANK">
              <img src="/images/netlify-dark.svg">
            </a>
          </li>
          <li>
            <a href="https://gitlab.com/olistik/blog" class="footer-badge" title="Source code on GitLab" target="_BLANK">
              <img src="/images/gitlab.png">
            </a>
          </li>
          <li>
            <a href="https://middlemanapp.com" class="footer-badge" title="Static site generated with Middleman" target="_BLANK">
              <img src="/images/middleman.svg">
            </a>
          </li>
      </div>
    </footer>
  </div>

</body>
</html>
