---
pageable: true
per_page: 5
---

<h4><%= articles.size %> posts under the category <em>#<%= tagname %></em></h4>

<hr class="major">

<% if paginate && num_pages > 1 %>

  <ul class="pagination">
    <% if prev_page %>
      <li><a href="<%= prev_page.url %>" class="button small">Prev</a></li>
    <% else %>
      <li><span class="button small disabled">Prev</span></li>
    <% end %>

    <% (1..num_pages).each do |page_index| %>
      <% page_url = page_index == 1 ? "/" : "/page/#{page_index}"%>
      <% if page_index == page_number %>
        <li><a href="<%= page_url %>" class="page active"><%= page_index %></a></li>
      <% else %>
        <li><a href="<%= page_url %>" class="page"><%= page_index %></a></li>
      <% end %>
    <% end %>

    <% if next_page %>
      <li><a href="<%= next_page.url %>" class="button small">Next</a></li>
    <% else %>
      <li><span class="button small disabled">Next</span></li>
    <% end %>

  </ul>

<% end %>

<% page_articles.each_with_index do |article, i| %>
  <% if i > 0 && i < page_articles.length %>
    <hr class="major" />
  <% end %>

  <%= partial(:article_head, locals: {article: article}) %>

  <p><%= article.summary(256) %></p>

  <ul class="actions">
		<li>
      <%= link_to "Read", article, class: "button next" %>
    </li>
	</ul>

<% end %>

<hr class="major">

<div class="6u 12u$(small)">
  <h4>Categories</h4>
  <%= link_to "Home", "/", class: "button small" %>
  <% blog.tags.each do |tag, articles| %>
    <% if tag == tagname %>
      <%= link_to "##{tagname} (#{articles.size})", tag_path(tagname), class: "button small special" %>
    <% else %>
      <%= link_to "##{tag} (#{articles.size})", tag_path(tag), class: "button small" %>
    <% end %>
  <% end %>
</div>
